<h2>Burgers,just eat it</h2>
<h3>Devoured</h3>
<ol>
    {{#each burger}} {{#if devoured}}
    <li>{{burger_name}}</li>
    {{/if}}{{/each}}
</ol>

<h3>stuff left</h3>
<ol>
    {{#each burger}} {{#unless devoured}}
    <li>{{burger_name}}</li>
    <button class="devoured" dataid="{{id}}" devo="{{devoured}}">Devour</button>
    {{/unless}}{{/each}}
</ol>
<h2>
    New Burger
</h2>
<input id="input"> 
<button id="Submit">Submit</button>